<% title t('.pages') %>
<% breadcrumbs [
   {label: t('.pages'), path: admin_pages_path}
] %>

<div id="filter">
  <h4>
    <%= t('admin.general.filter.filter') %>
    <button class="btn btn-default btn-xs close-filter-btn"><i class="fa fa-times"></i></button>
  </h4>
  <%= search_form_for @search, url: admin_pages_path do |f| %>
    <!-- Start: Filter part -->
    <div class="row filter-part open">
      <div class="col-md-3">
        <%= text_filter(f, 'title', t('.filter.title')) %>
      </div>
      <div class="col-md-3">
        <%= select_filter(f, 'language', t('.filter.language'), locale_options_for_filter('language')) %>
      </div>
      <div class="col-md-3">
        <%= select_filter(f, 'state', t('.filter.state'), locale_options_for_filter('page.state')) %>
      </div>
    </div>
    <!-- End: Filter part -->

    <!-- Start: Action row -->
    <div class="row">
      <div class="col-md-12">
        <div class="float-left">
          <a href="#" class="clear-filter-btn btn btn-danger"><%= t('admin.general.filter.cancel_filter') %></a>
        </div>
        <div class="float-right">
          <%= f.submit t('admin.general.filter.search'), class: 'btn btn-success btn-fill' %>
        </div>
      </div>
    </div>
    <!-- End: Action row -->
  <% end %>
</div>

<div class="content">
  <div class="container-fluid">

    <div class="top-panel">
      <div class="row">
        <div class="col-md-12">
          <div class="float-left">
            <% if policy(Page).new? %>
              <%= link_to new_admin_page_path, class: 'btn btn-primary' do %>
                <i class="fa fa-plus"></i> <%= t('.new_page') %>
              <% end %>
            <% end %>
          </div>
          <div class="float-right">
            <button class="open-filter-btn btn btn-warning btn-fill"><i class="fa fa-filter"></i> <%= t('admin.general.filter.filter') %></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title"><%= t('.pages') %></h4>
          </div>
          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <th><%= sort_link(@search, :title, t('.title')) %></th>
                <th><%= sort_link(@search, :admin_user_id, t('.author')) %></th>
                <th><%= sort_link(@search, :created_at, t('.created_at')) %></th>
                <th><%= sort_link(@search, :updated_at, t('.updated_at')) %></th>
                <th></th>
              </thead>
              <tbody>
                <% @pages.each do |page| %>
                  <tr>
                    <td><%= policy(page).show? ? link_to(page.title, admin_page_path(id: page.id)) : page.title %></td>
                    <td><%= page.admin_user.full_name if page.admin_user %></td>
                    <td><%= date_to_string(page.created_at) %></td>
                    <td><%= date_to_string(page.updated_at) %></td>
                    <td class="row-actions">
                      <% if policy(page).destroy? %>
                        <a href="#" data-action="delete-model" data-url="<%= admin_page_path(id: page.id) %>" data-delete-label="<%= "#{t('.page_model_name')} #{page.title}" %>" rel="tooltip" title="" class="btn btn-danger btn-link btn-xs" data-original-title="<%= t('admin.modal.delete_modal.delete') %>">
                          <i class="fa fa-times"></i>
                        </a>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>