<% if flash[:alert] %>
  <div class="alert alert-primary" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="content">
  <div class="container">
    <div class="col-md-4 col-sm-6 ml-auto mr-auto">
      <!-- Start: Head bar -->
      <div class="head-bar">
        <%= image_tag 'devise/ruby-logo-64-64.png' %>
        <h1>Ruby<em>Q</em> | admin</h1>
      </div>
      <!-- End: Head bar -->

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="card card-login">
          <div class="card-header ">
            <h3 class="header text-center">Zapomněli jste heslo?</h3>
          </div>
          <div class="card-body ">
            <div class="card-body">
              <div class="form-group">
                <%= f.label :email, 'E-mailová adresa' %>
                <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: 'Napište e-mail' %>
              </div>
            </div>
          </div>
          <div class="card-footer ml-auto mr-auto">
            <%= f.submit "Poslat instrukce pro změnu hesla", class: 'login-btn btn btn-danger btn-wd btn-fill' %>
          </div>
        </div>
      <% end %>

      <div class="container-footer">
        <div class="float-left">
          <%= link_to 'Zpět na web', '/' %>
        </div>
        <div class="float-right">
          <%= link_to new_session_path(resource_name) do %>
            Přihlásit se
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>