<% title t('.settings') %>
<% breadcrumbs [
   {label: t('.settings'), path: admin_settings_path}
] %>

<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <div class="card striped-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title"><%= t('.settings') %></h4>
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card striped-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title"><%= t('.home_page') %></h4>
          </div>
          <div class="card-body">
            <%= form_tag set_home_page_admin_settings_path, method: :put, remote: true do %>
              <div class="form-group mb-2">
                <%= label_tag :page_id, t('.choose_page'), class: "sr-only" %>
                <%= select_tag(:page_id, options_for_select(Page.all.order(title: :asc).collect {|p| [p.title, p.id]}, Page.home_page.present? ? Page.home_page.id : false), {include_blank: false, class: 'select-picker form-control'}) %>
              </div>
              <%= submit_tag t('.set_home_page'), class: 'btn btn-primary mb-2' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card striped-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title"><%= t('.seo') %></h4>
          </div>
          <div class="card-body">
            <%= render partial: 'setting', locals: { label: t('.title'), name: 'title', value_type: 'String' } %>
            <%= render partial: 'setting', locals: { label: t('.meta_title'), name: 'meta_title', value_type: 'String' } %>
            <%= render partial: 'setting', locals: { label: t('.meta_description'), name: 'meta_description', value_type: 'String' } %>
            <%= render partial: 'setting', locals: { label: t('.meta_keywords'), name: 'meta_keywords', value_type: 'String' } %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card striped-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title"><%= t('.share_web') %></h4>
          </div>
          <div class="card-body">
            <%= render partial: 'setting', locals: {label: t('.og_title'), name: 'og_title', value_type: 'String'} %>
            <%= render partial: 'setting', locals: {label: t('.og_description'), name: 'og_description', value_type: 'String'} %>
            <%= render partial: 'setting', locals: {label: t('.og_url'), name: 'og_url', value_type: 'String'} %>
            <%= render partial: 'setting', locals: {label: t('.og_image'), name: 'og_image', value_type: 'String'} %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>