<!DOCTYPE html>
<html>
  <head>
    <title>RubyQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'admin/manifest', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin/manifest', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="devise">
    <%= yield %>
    <div class="full-page-background"></div>
  </body>
</html>
